<% content_for :title do %>Current Releases<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="15" data-sizey="8">
      <div data-id="us_deploy_delta" data-view="Elapsedtime" data-title="Time since Live US deployment"></div>
    </li>

    <li data-row="1" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="uk_deploy_delta" data-view="Elapsedtime" data-title="Time since Live UK deployment"></div>
    </li>

    <li data-row="9" data-col="1" data-sizex="15" data-sizey="8">
      <div data-id="us_commit_delta" data-view="Number" data-title="Commits to go Live US"></div>
    </li>

    <li data-row="9" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="uk_commit_delta" data-view="Number" data-title="Commits to go Live UK"></div>
    </li>

    <li data-row="9" data-col="16" data-sizex="15" data-sizey="8">
      <div data-id="us_files_changed" data-view="Number" data-title="File changes to go Live US"></div>
    </li>

    <li data-row="9" data-col="46" data-sizex="15" data-sizey="8">
      <div data-id="uk_files_changed" data-view="Number" data-title="File changes to go Live UK"></div>
    </li>

    <li data-row="17" data-col="1" data-sizex="15" data-sizey="8">
      <div data-id="us_fixed_bugs_delta" data-view="Number" data-title="Bugs fixed to go Live US"></div>
    </li>

    <li data-row="17" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="uk_fixed_bugs_delta" data-view="Number" data-title="Bugs fixed to go Live UK"></div>
    </li>

    <li data-row="25" data-col="1" data-sizex="15" data-sizey="8">
      <div data-id="us_test_count_delta" data-view="Number" data-title="Added tests to go Live US"></div>
    </li>

    <li data-row="25" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="uk_test_count_delta" data-view="Number" data-title="Added tests to go Live UK"></div>
    </li>

  </ul>
</div>
