<% content_for :title do %>TeamCity Status<% end %>
<div class="gridster">
  <ul>

    <li data-row="13" data-col="1" data-sizex="15" data-sizey="8">
      <div data-id="ci" data-view="Project" data-title="CI" data-status="Unknown"></div>
    </li>

    <li data-row="13" data-col="16" data-sizex="15" data-sizey="8">
      <div data-id="dev" data-view="Project" data-title="Dev" data-status="Unknown"></div>
    </li>



    <li data-row="1" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="a_test_us" data-view="Project" data-title="Automated Test US" data-status="Unknown"></div>
    </li>

    <li data-row="1" data-col="46" data-sizex="15" data-sizey="8">
      <div data-id="live_us" data-view="Project" data-title="Live US" data-status="Unknown"></div>
    </li>


    <li data-row="9" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="e_test_us" data-view="Project" data-title="Exploratory Test US" data-status="Unknown"></div>
    </li>

    <li data-row="9" data-col="46" data-sizex="15" data-sizey="8">
      <div data-id="cand_us" data-view="Project" data-title="Candidate US" data-status="Unknown"></div>
    </li>



    <li data-row="17" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="a_test_uk" data-view="Project" data-title="Automated Test UK" data-status="Unknown"></div>
    </li>

    <li data-row="17" data-col="46" data-sizex="15" data-sizey="8">
      <div data-id="live_uk" data-view="Project" data-title="Live UK" data-status="Unknown"></div>
    </li>


    <li data-row="25" data-col="31" data-sizex="15" data-sizey="8">
      <div data-id="e_test_uk" data-view="Project" data-title="Exploratory Test UK" data-status="Unknown"></div>
    </li>

    <li data-row="25" data-col="46" data-sizex="15" data-sizey="8">
      <div data-id="cand_uk" data-view="Project" data-title="Candidate UK" data-status="Unknown"></div>
    </li>

  </ul>
</div>
