<% content_for :title do %>TeamCity Status<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="15" data-sizey="15">
      <div data-id="ci" data-view="Project" data-title="CI" data-status="Unknown"></div>
    </li>

    <li data-row="1" data-col="16" data-sizex="15" data-sizey="15">
      <div data-id="dev" data-view="Project" data-title="Dev" data-status="Unknown"></div>
    </li>


    <li data-row="16" data-col="1" data-sizex="15" data-sizey="15">
      <div data-id="unittest_graph" data-view="Graph" data-title="Unit Test Count"></div>
    </li>
    <li data-row="16" data-col="16" data-sizex="15" data-sizey="15">
      <div data-id="unittest_count" data-view="Number" data-title="Unit Test Count"></div>
    </li>


    <li data-row="1" data-col="31" data-sizex="15" data-sizey="15">
      <div data-id="test_us" data-view="Project" data-title="Test US" data-status="Unknown"></div>
    </li>

    <li data-row="16" data-col="31" data-sizex="15" data-sizey="15">
      <div data-id="test_uk" data-view="Project" data-title="Test UK" data-status="Unknown"></div>
    </li>


    <li data-row="1" data-col="46" data-sizex="15" data-sizey="15">
      <div data-id="live_us" data-view="Project" data-title="Live US" data-status="Unknown"></div>
    </li>

    <li data-row="16" data-col="46" data-sizex="15" data-sizey="15">
      <div data-id="live_uk" data-view="Project" data-title="Live UK" data-status="Unknown"></div>
    </li>

  </ul>
</div>
